.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified .btn,
  .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
    .btn-group-justified .btn .btn,
    .btn-group-justified .btn-group .btn {
      width: 100%; }
    .btn-group-justified .btn .dropdown-menu,
    .btn-group-justified .btn-group .dropdown-menu {
      left: auto; }

.bd-callout {
    padding: 1.0rem;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid lightgrey;
    /* border-left-width: .4rem; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.followMeBar {
  background: white;
  padding: 5px 5px;
  position: relative;
  width: 92%;
  z-index: 1;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 0;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

#sticky {
    background-color: white;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}